.root {
}

.tab-item-button {
  background: rgba(0, 0, 0, 0);
  border-radius: 18px;
  color: rgba(60, 66, 82, 0.8);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: 700;
  -webkit-box-pack: justify;
  justify-content: space-between;
  line-height: 24px;
  min-height: 30px;
  margin-left: -19px;
  padding: 7px 10px 9px;
  transition: all 0.125s ease 0s;
  user-select: none;
  width: 250px;
  will-change: transform;
}

.tab-item-button:hover {
  transform: scale(1.05);
}

.tab-item-button:active { 
  transform: scale(0.95);
} 

.tab-item-container {
  width: 100%;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.tab-item-name {
  overflow: hidden;  
  padding-left: 10px;  
  padding-right: 6px;  
  text-overflow: ellipsis;  
  white-space: nowrap;  
}
